body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.png');
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}

@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
}

body {
    font-family: "Bitstream Vera Serif Bold", "serif";
    text-align: center;
}

table {
    border: 1px solid;
    width: 60%;
    margin: 0 auto;
    background: white;
}

th {
    background-color: #0cb477;
    color: white;
}

td {
    border: 1px solid;
}

.fila {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.fila h4 {
    margin: 10px 140px;
}